body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1vh;
    background:  linear-gradient(180deg, #00021a, #000000);
    overflow: hidden;
}

.CVIMG {
    position: absolute;
    width: 115vh;
    z-index: -10;
}

.top {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.login {
    position: relative;
    left: 40%;
}

.forms {
    width: 50vw;
    height: 80vh;
    border: 2px solid #000000;
    border-radius: 10px;
    background: linear-gradient(180deg, #006eff34, #000000) ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    border-radius: 30px;
    width: 90%;
    background-color: #d89400;
    padding-block: 5px;
    color: #ffffff; 
    text-indent: 10px;
    font-weight: bold;

}

input::placeholder {
    position: relative;
    left: 10px;
    color: #ffffff;
    font-weight: bold;
}

label {
    margin-block: 15px;
    color: #ffffff;
    font-size: 25px;
}

#cadastrar{
    color: #ffffff;
    margin: 15px;
    font-size: 25px;
}

i { 
    cursor: pointer;
    font-size: 25px;
    position: relative;
    left: 40%;
    bottom: 20px;
    color: #003b6e;
    margin: -20px;
}

i:hover {
    color: #001d36;
}


