body {
  width: 100%;
  height: 100%;
  background-color: #010e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

body:hover ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #010e2e, #ff9100, #010e2e);
  border-radius: 6px;
  animation: move-thumb 1s infinite ease-in-out;
}

::-webkit-scrollbar-track {
  background: rgb(0, 1, 46);
  border-radius: 6px;
}

::-webkit-scrollbar {
  transition: width 0.3s ease;
  width: 5px;
}

section {
  width: 20%;
  height: 100%;
}

section img {
  position: relative;
  width: 100%;
  height: 90%;
  position: relative;
}

main {
  margin-top: 8vh;
  width: 615px;
  height: 842px;
  background-color: #ffffff;
}

.imagem {
  position: relative;
  left: 1.5%;
  margin-block: 10px;
  display: flex;
}

.image-preview {
  background-color: #d9d9d9;
  display: flex;
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 175px;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-preview img {
  min-width: 80px;
  max-height: 80px;
  max-width: 175px;
  max-height: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  object-fit: cover;
  position: absolute;
}

input[type="file"] {
  display: none;
  width: 0;
  height: 0;
}

.ativo_image_input {
  color: #00195e;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 5px;
  position: relative;
  top: 68px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.cvImage {
  position: absolute;
  left: 465px;
}

#doc-label {
  background-color: #d9d9d9;
  padding: 5px;
  border-radius: 5px;
  height: 100%;
  width: 97%;
  position: relative;
  left: 1.5%;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 5px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1px;
}

.input-group h4 {
  width: 100%;
  margin-inline: 0;
  right: 12px;
  position: relative;
}

.input-group input {
  width: 49.15%;
  margin-block: 2px;
  padding-top: 14px;
  margin-right: 5px;
  border: none;
}

.input-group label {
  font-size: 13px;
  font-weight: bold;
}

.SITUACAO {
  position: absolute;
  left: 340px;
}

.SITUACAO label {
  position: relative;
}

.SITUACAO select {
  width: 20%;
  position: relative;
  left: 110px;
  bottom: 20px;
  border: none;
}

.a {
  position: absolute;
  margin-block: 10px;
  right: 2px;
  top: 20px;
}

.b {
  position: absolute;
  margin-block: 10px;
  left: 291px;
  top: 20px;
}

.c {
  position: absolute;
  margin-block: 10px;
  right: 2px;
  top: 62px;
}

.d {
  position: absolute;
  margin-block: 10px;
  left: 291px;
  top: 62px;
}

.CEP {
  position: absolute;
  margin-block: 10px;
  left: 291px;
  top: 62px;
}

#CEP-i {
  width: 38%;
}

.UF {
  position: absolute;
  left: 508px;
  top: 72px;
}

#UF-i {
  width: 10.4%;
}

#UF-i::placeholder {
  font-size: 12px;
}

.valor {
  position: absolute;
  margin-block: 10px;
  left: 465px;
  top: 20px;
}

input[name="dataDeSaida"] {
  width: 30.5%;
}

.BRL {
  position: absolute;
  margin-block: 10px;
  left: 482px;
  top: 35px;
  font-weight: bold;
  font-size: medium;
}

#valor {
  width: 18%;
  padding-left: 4%;
}

#servico {
  position: absolute;
  margin-block: 10px;
  right: 2px;
  top: 65px;
}

#id_servico {
  margin-top: 0.5%;
  width: 99%;
  height: 130px;
  font-size: 15px;
  border: none;
  padding-top: 12px;
}

button[type="submit"] {
  position: relative;
  left: 2.5px;
  top: 2px;
  border: none;
  border-radius: 5px;
  background: #00195e;
  color: #ffffff;
  margin-top: 3px;
  font-size: 18px;
  transition: 1s ease;
}

button[type="submit"]:hover {
  background: #0066ff;
}

.not_btn {
  padding: 8px;
  position: relative;
  left: 2.5px;
  background: transparent;
}
