body {
  background: rgb(4, 0, 27);
  overflow-x: hidden;
  scrollbar-width: none;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

header {
  height: 8vh;
}

main {
  margin-block: 2vh;
  height: 90vh;
  width: 102vw;
}

.OrdemServico {
  background-color: rgb(255, 196, 0);
  height: 150px;

  margin-inline: 2px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .OrdemServico {
    width: 24vw;
  }
}

@media screen and (min-width: 425px)  and (max-width:1023px) {
  .OrdemServico {
    width: 48vw;
  }
}



@media screen and (min-width: 300px) and (max-width:400px) {
  span {
      font-size: 15px;
  }
}
