body {
  background: rgb(4, 0, 27);
  overflow-x: hidden;
  scrollbar-width: none;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

header {
  height: 8vh;
}

main {
  margin-block: 2vh;
  height: 90vh;
  width: 102vw;
}

.OrdemServico {
  background-color: rgb(255, 196, 0);
  height: 150px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}
